// Custom styles for Potoo docs

// Make the logo larger in the sidebar
.site-logo img {
  max-width: 100% !important;
  max-height: 150px !important;
  height: auto !important;
  width: auto !important;
  filter: invert(1);
}

.site-title {
  padding-top: 0.5rem;
}
