@import "./color_schemes/dark";

// Match landing page palette (GitHub dark)
$body-background-color: #0d1117;
$sidebar-color: #161b22;
$border-color: #30363d;
$body-text-color: #e6edf3;
$body-heading-color: #e6edf3;
$nav-child-link-color: #8b949e;
$link-color: #58a6ff;
$btn-primary-color: #58a6ff;
$base-button-color: #161b22;
$search-background-color: #161b22;
$code-background-color: #161b22;
$table-background-color: #161b22;
$feedback-color: darken(#161b22, 3%);
$search-result-preview-color: #8b949e;
